<% provide(:title, 'Users') %>

<div class="">
  <h1>Users</h1>

  <% @users.each do |user| %>
      <div class="media">
        <a class="pull-left" href="<%= user_path(user) %>">
          <%= gravatar_for user, size: 48, class: 'media-object' %>
        </a>

        <div class="media-body">
          <h4 class="media-heading"><%= user.name %></h4>
          <%= user.email %>
        </div>
      </div>
  <% end %>
</div>
